<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAZ6nTrUV_pzV3SuUFeY3PP9iW45PqXG8</string>
	<key>GCM_SENDER_ID</key>
	<string>84558429529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Minh-Pham.YukMyYumApp</string>
	<key>PROJECT_ID</key>
	<string>yukmyyumapp</string>
	<key>STORAGE_BUCKET</key>
	<string>yukmyyumapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84558429529:ios:bbafe7b19aa25ef9abe048</string>
</dict>
</plist>